body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

a:hover {
  background-color: lightgreen;
}


nav {
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 10px;
  width: 95%;
  padding: 0;
}

nav h3 {
  margin: 0;
  border: 1px black solid;
  width: 100%;
}

.fancy-phrase {
  font-size: 2.5rem;
  font-family: serif;
  font-style: italic;
  text-decoration:wavy;
  margin: 2px;
}

.sage-main {
  padding: 5px;
  text-align: center;
}